.flipswitch {
  position: relative;
  width: 80px;
  direction: ltr !important;
}

.flipswitch input[type=checkbox] {
  display: none;
}

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #00c896;
  border-radius: 41px;
}

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.flipswitch-inner:before {
  content: "AR";
  padding-left: 10px;
  background-color: #00c896;
  color: #FFFFFF;
  text-align: left;
}

.flipswitch-inner:after {
  content: "EN";
  padding-right: 10px;
  background-color: #EBEBEB;
  color: #00c896;
  text-align: right;
}

.flipswitch-switch {
  width: 18px;
  margin: 6.5px;
  background: #FFFFFF;
  border: 1px solid #00c896;
  border-radius: 41px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}
