.service-card-roka {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.service-title-roka {
  font-size: 20px;
  font-weight: 600;
  color: #0e2a46;
  font-family: "Epilogue", sans-serif;
}

.service-desc-roka {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.service-card-roka {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card-roka:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.icon-wrapper-roka {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

/* الدائرة المنقّطة حول الخضراء */
.icon-wrapper-roka::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 10px;
  width: 95px;
  height: 95px;
  border: 2px dotted #0ab99d;
  border-radius: 50%;
}
.icon-wrapper-roka img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
