/* .services-section {
  background-color: #f1f1f1;
  
} */
.service-card-roka {
  background-color: #f2f2f2;


}

.service-title-roka {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.service-desc-roka {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}

