body {
  background-color: #f2f2f2 !important;
}

.services {
  background-color: #f2f2f2;
  padding: 100px 0 ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-content: center;
  gap:30px;
  justify-items: center;
}
.icon-roka{
margin-right: 10px;
}

