
.icon-wrapper-roka {
  position: relative;
  width: 75px;
  height: 75px;
  background-color: #0ab99d;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;


}


/* الدائرة المنقّطة حول الخضراء */
.icon-wrapper-roka::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  padding:10px;
  width: 95px;
  height: 95px;
  border: 2px dotted #0ab99d;
  border-radius: 50%;

 
}


.service-title-roka{  
  font-family: "Epilogue", sans-serif;
  color: #0e2a46;
  font-size: 20px;
  margin: 25px 0 10px;
}

.service-card-roka p {
  color: #333931;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}











