.instructor-dash-sidebar {
  min-height: 100vh;
  width: 250px;
  background: #fff;
  border-right: 1px solid #ddd;
}

.instructor-dash-sidebar .nav-link.active {
  background-color: #19bda230;
  color:#0ab99d;
  font-weight: 600;
}

.instructor-dash-sidebar .nav-link:hover {
  background-color: #19bda212;
}

.course-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 8px;
}
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}
.profile-image{
    width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .instructor-dash-sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 1050;
    transition: left 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
  }

  .instructor-dash-sidebar.open {
    left: 0;
  }
}