.main-content {
  min-height: 100vh;
}

.udemy-toast {
  border-radius: 8px !important;
  padding: 14px 18px !important;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08) !important;
}

/* Toast Colors */
.Toastify__toast--success {
  background: #0a8754 !important;
}

.Toastify__toast--error {
  background: #e61e4d !important;
}

.Toastify__toast--info {
  background: #0073e6 !important;
}

.Toastify__toast--warning {
  background: #f6a700 !important;
}

.Toastify__toast-icon svg {
  fill: #ffffff !important;
}
