@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=Josefin+Sans:wght@100..700&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&family=Ubuntu:wght@300;400;500;700&display=swap");

.course-details-roka {
  font-family: "Epilogue", sans-serif;
}

.course-image-roka img {
  height: 500px;
}
.course1-title-roka {
  color: #0e2a46;
  font-size: 47px;
  line-height: 1.2;
}

.course-rating-roka i {
  color: #0ab99d;
}


.meta-item span {
  font-size: 16px;
  color: #555;
}

.course-rating-roka span {
  color: #555;
  font-size: 18px;
}

.course1-content-roka h5 {
  color: #0e2a46;

  font-size: 20px;

  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
}

.course1-content-roka p {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #333931;
}


.course-sidebar-roka p {
  color: #0e2a46;
  font-size: 16px;
}


.course-label-roka {
  font-size: 18px;
}
.current-price-roka {
  color: #292c2c;
  font-size: 20px;
  font-weight: 700;
}
.old-price-roka {
  color: #353434;
  font-size: 18px;
  text-decoration: line-through;
}

.ticketbtn {
  width: 100%;

  font-weight: 600;
  text-transform: capitalize;
  justify-content: center;
}

.course-sidebar-roka ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 6px;
  color: #4d5756;
  gap: 40px;
  padding-top: 20px;
  text-transform: capitalize;
}

/* Responsive */
@media (max-width: 992px) {
  .course-details-roka {
    padding: 0 15px;
  }

  .course-tabs-roka {
    justify-content: center;
  }
}
