@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=Josefin+Sans:wght@100..700&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&family=Ubuntu:wght@300;400;500;700&display=swap");
.course-details-roka {
  font-family: "Epilogue", sans-serif;
}

.insimage img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* الصورة */
.course-image-roka img {
  height: 500px;
}
.course-rating-roka i {
  color: #0ab99d;
  font-size: 16px;
}
/* العنوان والتقييم */
.course1-title-roka {
  color: #0e2a46;
  font-size: 48px;
}

.course-rating-roka span {
  color: #555;
  font-size: 15px;
  margin-left: 5px;
}

.course-price-roka {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}
.course1-content-roka p {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
}

.course-label-roka {
  font-size: 18px;
  font-weight: 200;
  color: #333931;
}
.ticketbtn {
  width: 100%;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.guarantee-text-roka {
  font-size: 16px;
  font-weight: 200;
  color: #333931;
}
.old-price-roka{
  text-decoration: line-through !important;
  color: #565656;
}

/* القائمة */
.course-sidebar-roka ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 6px;
  color: #444;
  gap: 40px;
  padding-top: 20px;
}

/* Responsive */
@media (max-width: 992px) {
  .course-details-roka {
    padding: 0 15px;
  }

  .course-tabs-roka {
    justify-content: center;
  }
}
