.search-input-wrapper {
  line-height: 28px;
  max-width: 223px;
}

.search-input-wrapper input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #D9E8D8;
  color: #0d0c22;
  box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}

.search-input-wrapper input::placeholder {
  color: #777;
}

.search-input-wrapper input:focus {
  border-color: #17c9aa;
  box-shadow: 0 0 8px #17c9aa, 0 0 0 10px #f5f5f5eb;
}