.search-input-wrapper {
  line-height: 28px;
  max-width: 223px;
}

.search-input-wrapper input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #E3F7F4;
  color: #0d0c22;
  transition: .3s ease;
}

.search-input-wrapper input::placeholder {
  color: #777;
}

.search-input-wrapper input:focus {
  border-color: #17c9aa;
}