* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eventcard-img img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  transition: transform 0.9s ease;
}

.eventcard-img {
  overflow: hidden;
  position: relative;
}

.eventcard-imgtext {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: #f2a227;
  font-family: "Sora", sans-serif;
  transition: all 0.3s ease;
}

.eventnum {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  font-style: normal;
  font-family: "Sora", sans-serif;
}
.eventcard-itemcontent {
  padding: 18px 30px;
  background-color: #f3f5f7;
}

.eventcard-title {
  padding-bottom: 5px;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 1.4;
  display: inline-block;
  font-size: 21px;
  transition: color 0.3s ease;
  color: #0e2a46;
  color: #0e2a46;
  margin-top: 0px;
  font-weight: 700;
}
.eventcard-title:hover a {
  color: #0ab99d;
}
.eventcard-title a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
.eventcard-iteminfo {
  padding-bottom: 10px;
}
.eventcard-iteminfo > span {
  font-weight: 400;
  text-transform: capitalize;
  color: #333931;
  font-size: 14px;
}
.eventcard-para {
  margin-bottom: 0px;
  padding-bottom: 15px;
  margin-top: 0px;
  font-size: 17px;
  font-weight: 400;
  color: #333931;
  line-height: 32px;
}
.eventcard-iteminfo > span i {
  color: #f2a227;
  margin-right: 3px;
}

.eventcard-item {
  border-radius: 5px;
  background-color: #000000;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}
.eventcard-item:hover .eventcard-img img {
  transform: scale(1.1) rotate(-2deg);
}
.eventcard-item:hover .eventcard-imgtext {
  background-color: #0ab99d;
}

@media (max-width: 768px) {
  .eventcard-title {
    font-size: 18px;
  }
  .eventcard-iteminfo > span {
    font-size: 11px;
  }

  .eventcard-imgtext span {
    font-size: 12px;
  }
  .eventcard-para {
    font-size: 14px;
  }
  .eventcard-itemcontent {
    padding: 30px 22px;
    background-color: #f3f5f7;
  }
  .eventcard-iteminfo > span {
    font-weight: 400;
    text-transform: capitalize;
    color: #333931;
    font-size: 11px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .eventcard-title {
    font-size: 21px;
  }
  .eventcard-iteminfo > span {
    font-size: 11px;
  }
  .eventcard-itemcontent {
    padding: 20px;
    background-color: #f3f5f7;
  }
  .eventcard-para {
    font-size: 14px;
  }
  .eventcard-iteminfo > span {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .eventcard-iteminfo > span {
    font-size: 13px;
  }
  .eventcard-para {
    font-size: 14px;
  }
}
