.courseform input,
.courseform textarea,
.courseform select {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;

padding: 10px 15px;
  resize: none;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}

.courseform input:focus,
.courseform textarea:focus,
.courseform select:focus {
  border-color: #0ab99d !important;
  outline: none;
  box-shadow: 0 0 0 3px rgba(10, 185, 157, 0.1) !important;
}

.courseform input::placeholder,
.courseform textarea::placeholder,
.courseform select::placeholder {
  color: #4f5051;
}
