@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=Josefin+Sans:wght@100..700&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shopping-container {
  font-family: "Sora", sans-serif;
}
.border-container {
  border: 1px solid #d1d2e0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  height: 150px;
  padding: 20px 10px;
}
.courseimg img {
  width: 150px;
  height: 90px;
}
.course-author {
  font-size: 12px;
}
.cartcard-rating i {
  font-size: 10px;
  color: rgb(245, 204, 68);
}
.ratespan {
  font-size: 14px;
}
.course-meta {
  list-style-type: circle;
  list-style: circle;
  color: rgb(56, 56, 56);
  font-size: 12px;
}

.empty-cart img {
  max-width: 250px;
}

.empty-cart p {
  color: #555;
}

.empty-cart button {
  padding: 10px 20px;
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .course-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .courseimg img {
    width: 50px;
    height: 50px;
  }
  .course-author {
    display: none;
  }
  .course-meta {
    font-size: 12px;
  }
  .border-container {
    border: 1px solid #d1d2e0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    padding: 20px 10px;
  }
  .action-buttons .btn {
    font-size: 11px;
  }
  .course-price {
    display: none;
  }
  .border-container {
    border: 1px solid #d1d2e0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 180px;
    padding: 20px 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .courseimg img {
    width: 120px;
    height: 80px;
  }
  .course-price2 {
    display: none;
  }
}
