.right-sidbar {
  background-color: #0e2a46;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  transform: translateX(100%);
  transition: transform 0.7s;
  z-index: 1999;
}

.top-sid-bar img {
  width: 130px;
  cursor: pointer;
}

.close-btn-sidebar {
  border: none;
  background: transparent;
}

.close-btn-sidebar i {
  color: #2b445c;
  font-size: 32px;
  transition: 0.7s;
}

.close-btn-sidebar i:hover {
  color: #fff;
}

.middle-sidebare ul li a {
  color: #fff;
  font-size: 15px;
  transition: 0.7s;
}

.middle-sidebare ul li {
  color: #fff;
  border-bottom: #2b445c 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.middle-sidebare ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.middle-sidebare ul li a:hover {
  color: #0ab99d;
}

.overlay-sidebar {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1040;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s;
}

.overlay-sidebar.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

.animate-sidebar {
  transform: translateX(0);
}

.p-color {
  color: #fff;
}

.bottom-sidebar h4 {
  font-weight: 700;
}

.bottom-sidebar ul li {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.bottom-sidebar ul li div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.bottom-sidebar ul li div span {
  color: #a8b2bc;
}

.bottom-sidebar ul li div a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  transition: 0.7s;
}

.bottom-sidebar ul li div a:hover {
  color: #0ab99d;
}

.bottom-sidebar ul li >span  {
  color: #fff;
  background-color: #0ab99d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

