
.bg-site-color {
  background-color: #0ab99d !important;
}
.btn-logout{
  background-color: white;
  width: 220px;
  border-radius: 5px;
  text-align: left;
}
.btn-logout:hover{
  background-color:  #d7eeea;


}

.sideBarr .nav-link:hover {
  background-color: #d7eeea;
 
  transition: 0.2s;
}

.sideBarr .nav-link {
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}