
.bg-site-color {
  background-color: #0ab99d !important;
}


.sideBarr .nav-link:hover {
  background-color: #d7eeea;
 
  transition: 0.2s;
}

.sideBarr .nav-link {
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}