* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.editbtnn{
  color: #0ab99d;
  border: 1px solid #0ab99d;
}
.editbtnn:hover{
  background-color: #0ab99d;
  color: white;
}
/* body{
     background-color: #f2f2f2;
} */
.coursecard-img img {
  width: 100%;
  border-radius: 5px;
  height: 250px;
  transition: transform 0.5s ease;
  object-fit: cover;
}
.coursecard-item:hover .coursecard-img img {
  transform: scale(1.1);
}
.coursecard-img {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.coursecard-imgtext {
  position: absolute;
  top: 20px;
  left: 20px;
}
.coursecard-imgtext span {
  display: inline-block;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  color: white;
  background-color: #0ab99d;
}
.coursecard-rating {
  margin-bottom: 10px;
}
.coursecard-rating i {
  font-size: 14px;
  color: #0ab99d;
}
.coursecard-rating span {
  font-size: 14px;
  font-weight: 500;
  color: #4d5756;
}
.coursecard-title {
  padding-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  display: inline-block;
  font-size: 21px;
  transition: color 0.3s ease;
  color: #0e2a46;
  height: 65px;
}
.coursecard-title:hover a {
  color: #0ab99d;
}
.coursecard-title a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
.coursecard-iteminfo {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px dashed #4d5756;
}
.coursecard-iteminfo > span {
  font-weight: 400;
  text-transform: capitalize;
  color: #4d5756;
  font-size: 14px;
}
.coursecard-iteminfo > span i {
  color: black;
  margin-right: 7px;
}
.coursecard-teacherimg {
  padding-bottom: 15px;
}
.coursecard-teacherimg img {
  border-radius: 50%;
  margin-right: 10px;
width: 40px;
height: 40px;
}
.coursecard-teacherimg > span {
  font-weight: 400;

  color: #0e2a46;
}
.coursecard-itemprice span {
  font-weight: 700;
  text-transform: capitalize;
  color: #4d5756;
  font-size: 25px;
}
.coursecard-itemprice span i {
  font-style: normal;
  color: #0e2a46;
}
.coursecard-itemprice a {
  font-size: 14px;
  font-weight: 500;
  color: #4d5756;
  text-transform: capitalize;
  text-decoration: none;
}
.coursecard-item {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #fff;
}

@media (max-width: 768px) {
  .coursecard-title {
    font-size: 18px;

   
  }

  .coursecard-iteminfo > span {
    font-size: 11px;
  }
  .coursecard-teacherimg > span {
    font-size: 14px;
  }
  .coursecard-itemprice span {
    font-weight: 700;
    text-transform: capitalize;
    color: #4d5756;
    font-size: 21px;
  }
  .coursecard-imgtext span {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coursecard-title {
    font-size: 17px;
  }
  .coursecard-iteminfo > span {
    font-size: 11px;
  }
  .coursecard-teacherimg > span {
    font-size: 14px;
  }
  .coursecard-itemprice span {
    font-weight: 700;
    text-transform: capitalize;
    color: #4d5756;
    font-size: 21px;
  }
}
