
/* Images Styling (Cylinder/Elliptical Shape EXACT like design) */
.it-about-4-thumb-wrap {
  margin-right: 30px;
}

.it-about-4-thumb-double img,
.it-about-4-thumb-single img {
width: 230px;
height: 320px;
object-fit: cover;
border-radius: 120px; 
}
/* Top/Bottom image size adjustments */
.it-about-4-thumb-double img:first-child ,
.it-about-4-thumb-double img:last-child{
width: 180px;
height: 290px;
}
/* Center main big image */
.it-about-4-thumb-single img {
width: 240px;
height: 500px;
}
/* Subtitle */
.it-section-subtitle {
margin-bottom: 25px;
font-size: 14px;
font-weight: 600;
}
.subtitle-icon {
width: 16px;
}
/* Title */
.it-section-title-3 {
font-size: 36px;
font-weight: 700;
color: #00214d;
}
.it-section-title-3 span {
color: #00b58b;
}
/* Description */
.it-about-desc {
color: #687387;
font-size: 16px;
}
.it-about-4-list-icon {
font-size: 22px;
color: white;
background: #00b58b;
width: 48px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 12px;
flex-shrink: 0;
}

.it-about-4-list-icon i {
font-style: normal; /* Ensure flaticon text works */
} */
.it-about-4-list-icon {
font-size: 24px;

}
.it-about-3-mv-title {
font-weight: 700;
font-size: 18px;
}
.it-about-3-mv-item p {
color: #687387;
font-size: 15px;
margin-top: 5px;
}
/* Right side bottom zigzag shape */
.it-about-3-left-shape-3 {
position: absolute;
right: 70px;
bottom: -2px;
z-index: -1;
}
/* Responsive */
@media (max-width: 992px) {
.large-img {
  width: 180px;
  height: 240px;
}
.small-img {
  width: 130px;
  height: 170px;
}
.it-section-title-3 {
  font-size: 28px;
}
.it-section-subtitle{
  margin-top: 35px;
}
}


/*==========================================*/
.it-team-3-area {
position: relative;
z-index: 1;
padding-top: 100px;
padding-bottom: 100px;
}
.it-team-3-bg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
/* Bootstrap هيتكفل بالتوزيع، نعدل فقط حجم الكارت */
.it-team-3-wrapper .col-xl-3,
.it-team-3-wrapper .col-lg-4,
.it-team-3-wrapper .col-md-6 {
display: flex;
justify-content: center;
}
.it-team-3-wrapper .col-xl-3 > * {
width: 100%;
max-width: 270px; 
}
/* Responsive adjustments */
@media (max-width: 1200px) {
.it-team-3-wrapper .col-xl-3 > * {
  max-width: 250px;
}
}
@media (max-width: 992px) {
.it-team-3-wrapper .col-lg-4 > * {
  max-width: 260px;
}
}
@media (max-width: 768px) {
.it-team-3-wrapper .col-md-6 > * {
  max-width: 300px;
}
}